#heading1 {
    color: rgb(187, 53, 53);
    background-color: rgb(0, 102, 255);
    text-align: center;
    padding: 10; /* 10 pixels */
}

.test {
    color: rgb(15, 187, 199);

}

h4 {
    color: rgb(133, 16, 84);
}