#heading1 {
    color: rgb(59, 19, 3);
    background-color: rgba(14, 119, 66, 0.582);
    text-align: center;
    padding: 10;
    /* 10 pixels */
}

#image {
    border-radius: 150px;
    width: 250px;
    height: 250px;
}

.container {
    text-align: center;
    padding: 40px;
    margin: 40px;
    border: 10px solid rgba(189, 118, 12, 0.377);
    border-radius: 8px;
    background: rgb(13, 4, 92);
}

.test {
    color: rgb(7, 78, 7);

}

.flexdiv {
    width: 100%;
    border:1px solid rgb(121, 12, 76);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
    flex-direction: column;

}

#elem {
    text-align: center;

    background: rgb(129, 5, 92);
    padding: 5px;
    border: 1px solid rgb(12, 143, 92);


}

h4 {
    color: rgb(102, 255, 0);
}